# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
## 字符:
charset = utf-8
## 尾字符 lf
end_of_line = lf
## 最后插入一行
insert_final_newline = true
## 删除尾行的空格
trim_trailing_whitespace = true


[*.{java,js,md,xml}]
## 缩进使用tab
indent_style = tab

[*.py]
indent_style = space
indent_size = 4


# 对后缀名为 md 的文件生效
[*.md]
trim_trailing_whitespace = false
