<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--该配置影响的所有映射器中配置的缓存的全局开关-->
        <setting name="cacheEnabled" value="true"/>
        <!--延迟加载的全局开关。当开启时，所有关联对象都会延迟加载。 特定关联关系中可通过设置fetchType属性来覆盖该项的开关状态。-->
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--使用列标签代替列名。-->
        <setting name="useColumnLabel" value="true"/>
        <!--允许 JDBC 支持自动生成主键，需要驱动兼容。 如果设置为 true 则这个设置强制使用自动生成主键，尽管一些驱动不能兼容但仍可正常工作（比如 Derby）。-->
        <setting name="useGeneratedKeys" value="false"/>
        <!--指定 MyBatis 应如何自动映射列到字段或属性。 NONE 表示取消自动映射；PARTIAL 只会自动映射没有定义嵌套结果集映射的结果集。 FULL 会自动映射任意复杂的结果集（无论是否嵌套）-->
        <setting name="autoMappingBehavior" value="PARTIAL"/>
        <setting name="autoMappingUnknownColumnBehavior" value="WARNING"/>
        <!--配置默认的执行器。SIMPLE 就是普通的执行器；REUSE 执行器会重用预处理语句（prepared statements）； BATCH 执行器将重用语句并执行批量更新。-->
        <setting name="defaultExecutorType" value="SIMPLE"/>
        <!--设置超时时间，它决定驱动等待数据库响应的秒数。-->
        <setting name="defaultStatementTimeout" value="3"/>
        <!--MyBatis 利用本地缓存机制（Local Cache）防止循环引用（circular references）和加速重复嵌套查询。 默认值为 SESSION，这种情况下会缓存一个会话中执行的所有查询。 若设置值为 STATEMENT，本地会话仅用在语句执行上，对相同 SqlSession 的不同调用将不会共享数据。-->
        <setting name="localCacheScope" value="SESSION"/>
        <!--指定哪个对象的方法触发一次延迟加载。-->
        <setting name="lazyLoadTriggerMethods" value="equals,clone,hashCode,toString"/>
    </settings>

    <!--<typeAliases>不需要指定了,  默认的完全够用. </typeAliases>-->
    <typeAliases>
        <typeAlias alias="dbInfo" type="org.qiunet.data.db.support.info.IEntityDbInfo" />
        <package name="org.qiunet.data.redis.entity" />
        <package name="org.qiunet.data.db.data.login" />
    </typeAliases>

	<plugins>
		<plugin interceptor="org.qiunet.data.db.interceptor.MybatisInterceptor"></plugin>
	</plugins>

	<mappers>
        <mapper resource="mybatis/player/player.xml" />
        <mapper resource="mybatis/player/friend.xml" />
        <mapper resource="mybatis/player/sysmsg.xml" />
        <mapper resource="mybatis/player/equip.xml" />
        <mapper resource="mybatis/player/login.xml" />
        <mapper resource="mybatis/player/qunxiu.xml" />

        <mapper resource="mybatis/global/global_table.xml" />

		<mapper resource="mybatis/model2table/CreateTable-mapper.xml" />
    </mappers>
</configuration>
