package ${define.entityPackage};

import org.qiunet.data.support.IEntityBo;

public class ${define.boName} implements IEntityBo<${define.doName}>{
	private ${define.doName} aDo;

	public ${define.boName} (${define.doName} aDo) {
		this.aDo = aDo;
	}

	public ${define.doName} getDo(){
		return aDo;
	}

	@Override
	public void serialize() {

	}

	@Override
	public void deserialize() {

	}
}
