package ${allData.currData.packagePath};

import ${allData.currData.classInfo};
import org.apache.ibatis.type.Alias;
#foreach(${field} in ${allData.currData.fields})
#if(${field.type} == "Date")
import java.util.Date;
#break
#end
#end
/**
 * 对象为自动创建
 */
@Alias("${allData.currData.name}")
public class ${allData.currData.name} extends ${allData.currData.entityType}#if(${allData.currData.redisList})<${allData.currData.subKeyType}>#end {
### FIELD_
#foreach(${field} in ${allData.currData.fields})
	public static final String FIELD_${field.name.toUpperCase()} = "${field.name}";
#end
	private static final String [] fields = {#foreach(${field} in ${allData.currData.fields})
#if(${field.name} != ${allData.currData.dbInfoKey} && ${field.name} != ${allData.currData.subKey} )
FIELD_${field.name.toUpperCase()} #if(${velocityCount} < (${allData.currData.fields.size()})),#end
#end
#end};
### get set方法
#foreach(${field} in ${allData.currData.fields})
	private ${field.fieldDesc}
#end
	/**默认的构造函数**/
	public ${allData.currData.name}(){}
#foreach(${constructor} in ${allData.currData.constructors})
	public ${allData.currData.name}(#foreach(${field} in ${constructor.fields})
	${field.type} ${field.name}#if(${velocityCount} < (${constructor.fields.size()})),#end
#end){
	#foreach(${field} in ${constructor.fields})
		this.${field.name} = ${field.name};
	#end}
#end
#foreach(${field} in ${allData.currData.fields} )
	public ${field.type} get#firstUpperCase(${field.name})() {
		return ${field.name};
	}
	public void set#firstUpperCase(${field.name})(${field.type} ${field.name}) {
		this.${field.name} = ${field.name};
	}
#end
	@Override
	protected String[] getFields() {
		return fields;
	}
	@Override
	public String getDbInfoKeyName() {
		return FIELD_${allData.currData.dbInfoKey.toUpperCase()};
	}
#if(${allData.currData.redisList})
	@Override
	public String getSubKey() {
		return FIELD_${allData.currData.subKey.toUpperCase()};
	}
	@Override
	public ${allData.currData.subKeyType} getSubId() {
		return ${allData.currData.subKey};
	}
#end
}
