package ${allData.currData.packagePath};

public class ${allData.currData.voName} {
	private ${allData.currData.poName} po;
	public ${allData.currData.voName} (${allData.currData.poName} po) {
		this.po = po;
	}
	public ${allData.currData.poName} get${allData.currData.poName}(){
		return po;
	}
}
