package ${define.entityPackage};

import org.qiunet.data.core.support.db.Table;
import org.qiunet.data.core.support.db.Column;
import org.apache.ibatis.type.Alias;
import ${define.entityClass.name};

/**
* 对象为自动创建 不要修改
*/
@Alias("${define.DoName}")
@Table(name = "${define.tableName}")
public class ${define.DoName} extends ${define.EntityClass.simpleName}<${define.keyType}, ${define.BoName}> {
#foreach(${field} in ${define.fieldDefines})
	@Column(comment = "${field.comment}"#if(${field.name} == ${define.key}), isKey = true#end#if(${field.length} > 0), length = ${field.length}#end)
	private ${field.type} ${field.name};
#end
### constructor

#if(${define.ConstructorDefines.isEmpty()})
	/**默认的构造函数**/
	public ${define.DoName}(){}
#end
#foreach(${constructorDefine} in ${define.ConstructorDefines})
	public ${define.DoName}(#foreach(${field} in ${constructorDefine.fields})${field.type} ${field.name}#if(${velocityCount} < (${constructorDefine.fields.size()})),#end#end){
	#foreach(${field} in ${constructorDefine.fields})
	this.${field.name} = ${field.name};
	#end
}
#end
### get set方法
#foreach(${field} in ${define.fieldDefines} )

	public ${field.type} get#firstUpperCase(${field.name})() {
		return ${field.name};
	}

	public void set#firstUpperCase(${field.name})(${field.type} ${field.name}) {
		this.${field.name} = ${field.name};
	}
#end

	@Override
	public ${define.keyType} key() {
		return ${define.keyName};
	}

	@Override
	public String keyFieldName() {
		return "${define.keyName}";
	}
}
