#set($define=${define})
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${define.nameSpace}">

	<select id="select${define.doName}" parameterType="map" resultType="${define.doName}">
		${define.SelectSql}
	</select>

	<select id="selectAll${define.doName}" parameterType="map" resultType="${define.doName}">
		${define.SelectAllSql}
	</select>

	<update id="update${define.doName}" parameterType="${define.doName}" >
		${define.UpdateSql}
	</update>

	<insert id="insert${define.doName}" parameterType="${define.doName}" >
		${define.insertSql}
	</insert>

	<delete id="delete${define.doName}" parameterType="map" >
		${define.deleteSql}
	</delete>
</mapper>
