#set($entity=${entity})
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${entity.nameSpace}">

	<select id="select${entity.doName}" parameterType="map" resultType="${entity.doName}">
		${entity.SelectSql}
	</select>

	<update id="update${entity.doName}" parameterType="${entity.doName}" >
		${entity.UpdateSql}
	</update>

	<insert id="insert${entity.doName}" parameterType="${entity.doName}" >
		${entity.insertSql}
	</insert>

	<delete id="delete${entity.doName}" parameterType="map" >
		${entity.deleteSql}
	</delete>
</mapper>
