#set($entityObj = ${entity.subVmElement(${allData.currData.poref})})
#set($entityType = ${entityObj.type})
#set($entityInfoType = ${entityType.InfoType})
<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="${allData.currData.NameSpace}">

	<select id="${allData.currData.SelectStatment}" parameterType="dbInfo" resultType="${allData.currData.poref}">
		${allData.currData.SelectSql}
	</select>

	<update id="${allData.currData.UpdateStatment}" parameterType="dbInfo" >
		${allData.currData.UpdateSql}
	</update>

	<insert id="${allData.currData.InsertStatment}" parameterType="dbInfo" >
		${allData.currData.InsertSql}
	</insert>

	<delete id="${allData.currData.DeleteStatment}" parameterType="dbInfo" >
		${allData.currData.DeleteSql}
	</delete>
</mapper>
