<?xml version="1.0" encoding="UTF-8"?>
<configuration
	xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
	https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
	debug="false" scan="true" scanPeriod="2 minute">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level [%d{yyyy/MM/dd HH:mm:ss.SSS}] %logger - %msg%n</pattern>
		</encoder>
	</appender>

	<!--	<appender name="dailyFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
	<!--		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
	<!--			<fileNamePattern>logs/%d{yyyy-MM-dd}/DuoDuo.log_%d{yyyy-MM-dd}</fileNamePattern>-->
	<!--		</rollingPolicy>-->
	<!--		<append>true</append>-->
	<!--		<encoder>-->
	<!--			<pattern>%level [%d{yyyy/MM/dd HH:mm:ss.SSS}] %logger - %msg%n</pattern>-->
	<!--		</encoder>-->
	<!--	</appender>-->

	<logger name="DuoDuo" level="INFO" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<logger name="DuoDuoSql" level="INFO" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<logger name="DuoDuoRedis" level="INFO" additivity="false">
		<appender-ref ref="stdout" />
	</logger>

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>
</configuration>
