<?xml version="1.0" encoding="UTF-8"?>
<configuration
	xmlns="http://ch.qos.logback/xml/ns/logback"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback
	https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
	debug="false" scan="true" scanPeriod="2 minute">

	<timestamp key="dailyTimestamp" datePattern="_yyyy-MM-dd" />
	<timestamp key="yyyyMMdd" datePattern="yyyy-MM-dd" />

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%level [%d{yyyy/MM/dd HH:mm:ss.SSS}] %logger - %msg%n</pattern>
		</encoder>
	</appender>

<!--	<appender name="dailyFileAppender" class="ch.qos.logback.core.FileAppender">-->
<!--		<append>true</append>-->
<!--		<file>logs/${yyyyMMdd}/DuoDuo.log${dailyTimestamp}</file>-->
<!--		<encoder>-->
<!--			<pattern>%level [%d{yyyy/MM/dd HH:mm:ss.SSS}] %logger - %msg%n</pattern>-->
<!--		</encoder>-->
<!--	</appender>-->

	<logger name="DuoDuo" level="INFO" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="DuoDuoSql" level="INFO" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<logger name="DuoDuoRedis" level="INFO" additivity="false">
		<appender-ref ref="console" />
	</logger>

	<root level="INFO">
		<appender-ref ref="console" />
	</root>
</configuration>
