package ${data.packagePath};

import ${data.classInfo};
import org.apache.ibatis.type.Alias;
#foreach(${field} in ${data.fields})
#if(${field.type} == "Date")
import java.util.Date;
#break
#end
#end
/**
 * 对象为自动创建
 */
@Alias("${data.name}")
public class ${data.name} extends ${data.entityType} {
### FIELD_
#foreach(${field} in ${data.fields})
	public static final String FIELD_${field.name.toUpperCase()} = "${field.name}";
#end
	private static final String [] fields = {#foreach(${field} in ${data.fields})
#if(${field.name} != ${data.dbInfoKey} && ${field.name} != ${data.subKey} )
FIELD_${field.name.toUpperCase()} #if(${velocityCount} < (${data.fields.size()})),#end
#end
#end};
### get set方法
#foreach(${field} in ${data.fields})
	private ${field.type} ${field.name};	${field.comment}
#end
#foreach(${field} in ${data.fields} )
	public ${field.type} get#firstUpperCase(${field.name})() {
		return ${field.name};
	}
	public void set#firstUpperCase(${field.name})(${field.type} ${field.name}) {
		this.${field.name} = ${field.name};
	}
#end
	@Override
	protected String[] getFields() {
		return fields;
	}
	@Override
	public String getDbInfoKeyName() {
		return FIELD_${data.dbInfoKey.toUpperCase()};
	}
#if(${data.redisList})
	@Override
	public String getSubKey() {
		return FIELD_${data.subKey.toUpperCase()};
	}
	@Override
	public int getSubId() {
		return ${data.subKey};
	}
#end
}
