<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.qiunet.entity2table.service.CreateTableService">

	<!-- 抽取出来的公共部分 -->
	<sql id="commonSql">
		`${field.fieldName}` ${field.fieldType}

		<if test="field.fieldIsNull">
			NULL
		</if>
		<if test="!field.fieldIsNull">
			NOT NULL
		</if>
		<if test="field.fieldIsAutoIncrement">
			AUTO_INCREMENT
		</if>
		<!-- 不是自增长的才能有默认值 -->
		<!-- 并且不为null时，因为null是默认的没必要写 -->
		<if test="!field.fieldIsAutoIncrement and !field.fieldIsNull and field.fieldDefaultValue != 'NULL'">
			DEFAULT #{field.fieldDefaultValue}
		</if>

		<if test="field.fieldComment != 'NULL'">
			COMMENT #{field.fieldComment}
		</if>
	</sql>

	<!-- 创建表的 -->
	<select id="createTable" parameterType="org.qiunet.entity2table.command.TableCreateParam">
		create table <if test="dbName!=null">${dbName}.</if>`${tableName}`(
		<foreach collection="fields" item="field" separator="," close=",">
			<include refid="commonSql" />
		</foreach>
		PRIMARY KEY (${priKeyDesc}))
		ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci
		<if test="comment != 'NULL'">
			COMMENT = '${comment}'
		</if>
		;
	</select>

	<!-- 验证表是否存在 -->
	<select id="findTableCountByTableName" resultType="int" parameterType="java.util.Map">
		select count(1) from information_schema.tables
		where <if test="dbName!=null">table_schema=#{dbName} and </if> table_name = #{tableName}
	</select>

	<!-- 根据表名查询表的结构 -->
	<select id="findTableEnsembleByTableName" resultType="org.qiunet.entity2table.command.Columns"
			parameterType="java.util.Map">
		select * from information_schema.columns where <if test="dbName!=null">table_schema=#{dbName} and </if> table_name = #{tableName}
	</select>

	<!-- 增加字段 -->
	<select id="addTableField" parameterType="org.qiunet.entity2table.command.TableParam">
		alter table <if test="dbName!=null">${dbName}.</if> `${tableName}` add
		<include refid="commonSql"></include>
	</select>


	<!-- 修改字段 -->
	<select id="modifyTableField" parameterType="org.qiunet.entity2table.command.TableParam">
		alter table <if test="dbName!=null">${dbName}.</if>`${tableName}` modify
		<include refid="commonSql"></include>
	</select>
</mapper>
